:root {
  --blanco: #ffffff;
  --obscuro: #212121;
  --primario: #66baa8;
  --secundario: #044c5a;
  --gris: #352b48;

  --border-fondo: 20px solid #044c5a;
  --border:20px solid #66baa8;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
  margin: 10px;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.i-size-gd {
  font-size: 50px;
  color: var(--secundario);
}


.i-size-md {
  font-size: 25px;
  color: var(--blanco);
}

.titulo{
  color: var(--blanco);
}

.titulo span{
  font-size: 1rem;
  color: var(--blanco);
}

.contenedor {
  width: auto;
  margin: 0 auto;
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: auto;
  border: none;
  -webkit-box-shadow: 6px 10px 19px -9px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 6px 10px 19px -9px rgba(0, 0, 0, 0.71);
  box-shadow: 6px 10px 19px -9px rgba(0, 0, 0, 0.71);
}

.boton:hover {
  cursor: pointer;
  background-color: var(--primario);
  color: var(--secundario);
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(140, 138, 140, 0.59);
  -moz-box-shadow: 0px 5px 15px 0px rgba(140, 138, 140, 0.59);
  box-shadow: 0px 5px 15px 0px rgba(140, 138, 140, 0.59);
  border-radius: 1rem;
}

.h-fijo {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 3;
}

.nav-bg {
  background-color: var(--secundario);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

#btm-menu{
  display: none;
}

.nav-bg label{
  display: none;
}

.navegacion-principal {
  display: flex;
  justify-content: space-around;
}


.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--obscuro);
}

.hero {
  background-image: url(../public/img/hero4.jpg);
  background-position: center;
  background-size: cover;
  width: auto;
  height: 450px;
  /* position: relative; */
  top: 0;
  left: 0;
  margin-bottom: 2rem;
}

.contenedor-hero {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-hero h1,
.contenedor-hero p {
  color: var(--blanco);
}

.icon-location {
  color: var(--primario);
  margin-right: 5px;
}


.cont-icon{
  width: 45px;
  height: 45px;
  background-color: var(--secundario);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cont-icon:hover{
  background-color: var(--primario);
}

.ubicacion {
  display: flex;
  align-items: center;
}

.contenedor-main {
  width: 80%;
  margin: auto;
  background-color: var(--blanco);
  padding: 2rem;
}

.contenedor-me {
  margin-bottom: 2rem;
  text-align: center;
}

.me-content {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr ;
  align-items: center;
  
}

.me-content img{
  border-radius: 50%;
  width: 180px;
  height: 280px;

}

.me-content div {
  margin-left: 1rem;
  padding: 1rem;
  background-color: var(--primario);
  border-radius: 1rem;
  /* min-width: 350px; */
}

.me-content a{
  text-decoration: none;
  color: var(--obscuro);
  font-size: 2rem;
  font-weight: bold;
  border-bottom: solid;
  margin-bottom: 1rem;
  
}

.me-content a:hover{
  color: #ffffff;
}

.title-skills{
  margin-bottom: 0;
}

.skills{
  overflow: hidden;
  width: 90%;
  margin: auto;
  display: flex;
  margin-bottom: 10rem;
  flex-wrap: wrap;
}

.contenedor-progres{
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: auto auto;

}

.contenedor-progres .progress{
  margin: 102px auto;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border-left: var(--border);
  border-right: var(--border);
  border-top: var(--border);
  border-bottom: 25px solid transparent;
  position: relative;
  color: var(--secundario);
  text-align: center;
}

.contenedor-progres .prop{
  border: var(--border-fondo);
}

.progress h3{
  margin: auto;
  font-size: 3rem;
}

.progress p{
  margin: 2rem auto 0 auto;
  font-size: 1.8rem;
} 

.progress .circulo{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -20px;
  left: -20px;
  transform: rotate(-135deg);
  border-top: var(--border);
  border-left: var(--border);
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  animation-delay: 1s;
}

.c1{
  animation: rotar1 1s linear forwards;
}

.c2{
  animation: rotar2 1s linear forwards;
}

.c3{
  animation: rotar3 1s linear forwards;
}

.c4{
  animation: rotar1 1s linear forwards;
}


@keyframes rotar1 {
  100%{
    transform: rotate(-45deg);
  }
}

@keyframes rotar2 {
  100%{
    transform: rotate(-15deg);
  }
}

@keyframes rotar3 {
  100%{
    transform: rotate(16deg);
  }
}

.proyectos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.proyecto {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyecto h3 {
  color: var(--secundario);
  font-weight: normal;
}

.proyecto p {
  line-height: 2;
  text-align: center;
}
.proyecto .iconos {
  width: 15rem;
  height: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.formulario {
  background-color: var(--gris);
  width: 40%;
  min-width: 250px;
  margin: 0 auto;
  padding: .5rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primario);
  text-transform: uppercase;
  margin-bottom: 2rem;
}


.campo {
  margin-bottom: 1rem;
  display: flex;
}

.campo label {
  width: auto;
  font-size: 1.2rem;
  color: var(--blanco);
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
.campo2{
  display: flex;
  flex-direction: column;
  color: var(--blanco);
  font-size: 1.2;
}

.campo2 label{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.campo2 .input-text{
  width: auto;
}

.input-text {
  width: 70%;
  font-size: 1.2rem;
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.enviar {
  width: 40%;
}

.redes2{
  width: 30%;
  margin:15px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  text-align: center;
}
